/* Первый столбец с логотипом и копирайтом. Логотип используем .logo с модифкатором place_footer */
.footer__column_content_copyright {
  min-height: 250px;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
