@import url(./__triangle/kaufman__triangle.css);

/* Блок kaufman */
.kaufman {
  position: relative;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  overflow: hidden;
}
