/* padding-top должен быть 50px,
но так как мы сместили блок с видео вниз на 50px,
то паддинг становится 10 */
.video__iframe {
  width: 515px;
  height: 316px;
  position: relative;
  bottom: -50px;
  border: 0;
  padding-top: 10px;
}
