/*
темно-серый (фон)       #1f1f1f
бледно-серый (фон)      #f2f2f2
синий (ссылки, фигуры)  #2f80ed
черный (текст)          #000000
*/



.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

/* Флекс-роу для микса */
.flex-row {
  display: flex;
  flex-direction: row;
}

/* Флекс-кол для микса */
.flex-col {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}

/* Обрати внимание, что ширина блока должна быть 730px */
.header__title {
  margin-left: 64px;
  font-size: 102px;
  font-weight: 500;
  line-height: 96px;
  width: 730px;
}

.header__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  color: #1f1f1f;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('../images/header-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  /* Либо background-size: cover и без repeat и position — надо узнать как правильнее. */
}

.header__square-pic {
  width: 765px;
  height: 608px;
  position: absolute;
  top: 64;
  right: 0;
  background-color: #2f80ed;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.two-columns {
  min-height: 200px;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  height: 100%;
}

.two-columns__brief-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  justify-content: space-between;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.description {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 100px;
}

.digits {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 100px 0;
}

.section-title {
  margin: 0 0 20px 0;
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 69px;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text {
  margin: 20px 0 20px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.feinman {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #f2f2f2;
  background-position: bottom left;
  background-image: url('../images/feynman.png');
  background-size: 867px 637px;
  background-repeat: no-repeat;
}

.feinman__title {
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 684px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
}

.feinman__subtitle {
  position: relative;
  top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #000;
}

