@import url(../vendor/normalize.css);

/*------------------------------------*\
Темно-серый (фон)..............#1f1f1f
Бледно-серый (фон).............#f2f2f2
Синий (ссылки, фигуры).........#2f80ed
Черный (текст).................#000000
\*------------------------------------*/



.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.content { }

/* Логотип */
.logo {
  width: 183px;
  height: 32px;
  background-size: 183px 32px;
  background-image: url(../images/logo_place_header.svg);
}

/* Позиция логотипа в шапке */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

/* Позиция логотипа в подвале / другое изображение для логотипа в подвале */
.logo_place_footer {
  width: 183px;
  height: 35px;
  background-size: 183px 35px;
  background-image: url(../images/logo_place_footer.svg);
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/* Шапка */
.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

/* Заголовок в шапке */
.header__title {
  margin-left: 64px;
  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
  width: 730px;
}

/* Подзаголовок в шапке */
.header__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

/* Ссылка в шапке */
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* Ссылка в шапке при наведении */
.header__link:hover {
color: red;
}

/* Синий квадрат (на фоне с главной иллюстрацией) в шапке */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64;
  right: 0;
  background-color: #2f80ed;
}

/* Главная иллюстрация (в шапке) */
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*------------------------------------*\
    #DESCRIPTION
\*------------------------------------*/

/* Блок description */
.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 100px;
}

/* Разделение на 2 колонки по флексу */
.two-columns {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

/* Первая колонка бриф с заголовком и заголовок в ней */
.two-columns__brief {
  width: 175px;
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}


/* Вторая колонка с текстом */
.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

/* Абзац во второй колонке */
.two-columns__paragraph {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

/* Убираем отступ снизу у последнего абзаца */
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

/* Жирный текст */
.two-columns__span-accent {
  font-weight: bold;
}

/*------------------------------------*\
    #DIGITS
\*------------------------------------*/

/* Блок digits */
.digits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 100px;
}

/* Заголовок  */
.section-title {
  margin: 0 0 20px 0;
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 69px;
}

/* Заголовок для черной темы  */
.section-title_theme_dark {
  margin: 90px 0 20px 0;
  color: #fff;
}

/* Подзаголовок */
.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

/* Подзаголовок для черной темы  */
.section-subtitle_theme_dark {
  color: #fff;
}

/* Таблица со всеми "клетками" */
.table {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

/* Таблица со всеми "клетками", но для черной темы с другим позиционированием*/
.table_theme_dark {
  margin-bottom: 90px;
}

/* Клетка */
.table__cell {
  margin-top: 60px;
  width: 250px;
}

/* Клетка для черной темы с другими размерами и позиционированием */
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  z-index: 1;
}

/* Заголовок "клетки" */
.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

/* Заголовок "клетки" для черной темы */
.table__heading_theme_dark {
  color: #fff;
}

/* Текст в клетке */
.table__text {
  margin: 20px 0 20px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/* Текст в клетке для черной темы */
.table__text_theme_dark {
color: #fff;
}

/*------------------------------------*\
    #FEYNMAN
\*------------------------------------*/

/* Блок feynman */
.feynman {
  position: relative;
  top: 0;
  left: 0;
  min-height: 790px;
  background-color: #f2f2f2;
  background-position: bottom left;
  background-image: url('../images/feynman.png');
  background-size: 867px 637px;
  background-repeat: no-repeat;
}

/* Заголовок блока */
.feynman__title {
  margin: 0;
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 684px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
}

/* Подзаголовок блока */
.feynman__subtitle {
  margin-top: 0;
  padding-top: 70px;
  position: relative;
  top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

/* Ссылка */
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #000;
}

/* Ссылка при наведении */
.feynman__link:hover {
  color: #2f80ed;
}

/*------------------------------------*\
    #KAUFMAN
\*------------------------------------*/

/* Используем тут таблицу-блок из Digits с модификатором theme_dark */

/* Блок kaufman */
.kaufman {
  position: relative;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  overflow: hidden;
}

/* Синий треугольник на фон */
.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer {
  min-height: 350px;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  box-sizing: border-box;
}

/* Вставленное с отсупами заданными в .footer разделение на flex столбцы */
.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/* flex контейнер  */
.footer__column {
  display: flex;
  flex-flow: column nowrap;
}

/* Первый столбец с логотипом и копирайтом. Логотип используем .logo с модифкатором place_footer */
.footer__column_content_copyright {
  min-height: 250px;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Индивидуальные стили для колонки с nav */
.footer__column_content_info { }

/* Индивидуальные стили для колонки с социальными сетями */
.footer__column_content_social { }

/* Копирайт */
.footer__author {
  margin: 20px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #fff;
}

/* Заголовок столбца */
.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
}

/* Ссылки в столбце content_info */
.footer__column-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Стили для ссылок отдельно, потому что они по какой то причине не наследуются от footer__column-links */
.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
}

/* Ссылки наследуют стили от footer__column-link */
.footer__column-link a {
  color: inherit;
  text-decoration: inherit;
}

/* Кастомный отступ у последней ссылки */
.footer__column-link:last-of-type {
  margin-bottom: 16px;
}

/* Наведение на ссылки в footer в столбце content_info */
.footer__column-link:hover {
  color: #2f80ed;
}

/* Отодвигаем текст ссылки справа от иконки */
.footer__social-icon {
  margin-right: 10px;
}
