/*
серый (фон)             #1f1f1f
серый (фон)             #f2f2f2
синий (ссылки, фигуры)  #2f80ed
черный (текст)          #000000
*/



.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

/* Флекс-роу для микса */
.flex-row {
  display: flex;
  flex-direction: row;
}

/* Флекс-кол для микса */
.flex-col {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}

/* Обрати внимание, что ширина блока должна быть 730px */
.header__title {
  margin-left: 64px;
  font-size: 102px;
  font-weight: 500;
  line-height: 96px;
  width: 730px;
}

.header__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  color: #1f1f1f;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('../images/header-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  /* Либо background-size: cover и без repeat и position — надо узнать как правильнее. */
}

.header__square-pic {
  width: 765px;
  height: 608px;
  position: absolute;
  top: 64;
  right: 0;
  background-color: #2f80ed;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.two-columns {
  min-height: 200px;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  height: 100%;
}

.two-columns__brief-header {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  justify-content: space-between;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.description {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 100px 0;
}

